<h3>Dodaj novo izposojo </h3>
<form>
	<div style="width:500px">
		<style type="text/css">
			.autocomplete-custom-template li {
				border-bottom: 1px solid #ccc;
				height: auto;
				padding-top: 8px;
				padding-bottom: 8px;
				white-space: normal; }
			.autocomplete-custom-template li:last-child {
				border-bottom-width: 0; }
			.autocomplete-custom-template .item-title,
			.autocomplete-custom-template .item-metadata {
				display: block;
				line-height: 2; }
			.autocomplete-custom-template .item-title md-icon {
				height: 18px;
				width: 18px; }
		</style>
		<md-autocomplete
			ng-disabled="isDisabled"
			md-no-cache="noCache"
			md-selected-item="selectedItem"
			md-search-text-change="searchTextChange(searchText)"
			md-search-text="searchText"
			md-selected-item-change="selectedItemChange(item)"
			md-items="item in querySearch(searchText)"
			md-item-text="naziv(item)"
			md-min-length="0"
			placeholder="Izberi voznika"
			md-menu-class="autocomplete-custom-template">

			<md-item-template>
				<span class="item-title">
					<img ng-src="user.png" class="md-avatar" width="20px"/>
					<span> <strong>{{item.ime}} {{item.priimek}}</strong> </span>
				</span>
				<span class="item-metadata">
					<span class="item-metastat">
						Številka dokumenta: <strong>{{item.dokument}}</strong> 
					</span>
				</span>
			</md-item-template>
		</md-autocomplete>
	</div>
	<div>
		<h4>Vnesi časovni okvir izposoje</h4>
		<md-datepicker ng-model="izposoja.zacetek" md-placeholder="Vnesite zacetek"  md-min-date="minDate"></md-datepicker>
		<md-datepicker ng-model="izposoja.konec" md-placeholder="Vnesite konec" md-min-date="minDate2"></md-datepicker>
		<div ng-show="izposoja.konec<izposoja.zacetek">
			Začetek izposoje mora biti pred koncem.
		</div>
	</div>
	<div>
		<h4>Izberi želeni avtomobil</h4>

		<md-input-container layout-sm="column" layout-align="center center">
			<label>Izberi želeni avtomobil</label>
			<md-select ng-model="izposoja.avto">
				<md-option ng-repeat="avto in avtomobili" value="{{avto.avtoId}}" ng-disabled="avto.status==0">{{avto.naziv}} ({{avto.reg}})</md-option>
			</md-select>
		</md-input-container>
	</div>

	</div>


	<div>
		<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
			<md-button class="md-raised md-primary" ng-click="saveIzposoja()" ng-disabled="saveIzposojaCheck()==false">Shrani</md-button>
			<md-button class="md-raised md-warn" ng-href="#!/izposoja">Prekini</md-button>
		</section>
	</div>
</form>